<div class="card">
  <img [ngSrc]="dino().image" [height]="300" [width]="300">
  <div class="footer">
    <p class="name">
      <a [routerLink]="''+dino().id">
        {{ dino().name }}
      </a>
    </p>
    <p>

      @if(dino().diet === 'Carnivore'){
        🥩
      } @else if (dino().diet ==='Herbivore'){
        🍃
      } @else {
        🍖
      }
      @switch (dino().diet){
        @case ('Carnivore'){
          🥩
        }
        @case ('Herbivore'){
          🍃
        }
        @default {
          🍖
        }
      }
    </p>
  </div>
</div>
<button class="like" (click)="like()">
  <mat-icon aria-hidden="false" aria-label="like" fontIcon="favorite" [matBadge]="likeCounter()"></mat-icon>
</button>
