:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:10px;
  width: 100%;

  h1{
    margin: 20px 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    background: #002D42;
    border-radius: 5px;
    padding: 10px;
  }
  .body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .card {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      background: #002D42;
      border-radius: 5px;
      margin: 10px;
      box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

      .properties {
        padding: 10px;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 10px;
    }
  }
}
